body{
margin:0px;
padding:0px;
background-color:black;
}
#frame{
position:absolute;
width:60%;
left:20%;
right:20%;
top:0px;
bottom:0px;
height:100%;
overflow:hidden;
min-width:800px;
min-height:600px;
}
#bottom{
position:absolute;
width:100%;
height:100%;
}
.title{
position:absolute;
left:5%;
z-index:1;
margin:10px;
}
#main{
top:45%;
font-size:3rem;
}
#sub{
top:55%;
font-size:2rem;
}
#above { 
position:absolute;
width:100%;
top:0%;
bottom:20%;
}
#back{
width:100%;
height:auto;
max-width:1080px;
}
#below{
position:absolute;
background-color:lightgray;
width:100%;
height:20%;
bottom:0px;
min-width:600px;
}
#below.inf{
position:absolute;
width:20%;
height:100%;
}
#inf1{
position:absolute;
left:2%;
top:25%;
}
#inf2{
position:absolute;
left:22%;
top:25%;
}
#inf3{
position:absolute;
left:42%;
top:25%;
}
.inf p{
font-size:1.2rem;
}
#top{
position:absolute;
background-color:lightgray;
width:40%;
height:60%;
right:0%;
bottom:0px;
z-index:1;
min-width:320px;
min-height:360px;
}
#top_title{
position:absolute;
width:41%;
height:30%;
overflow:visible;
top:5%;
left:6%;
}
#top_title p{
font-family:"Times New Roman",Times,serif;
font-style:italic;
font-size:1.6rem;
}
#img1{
position:absolute;
width:41%;
height:60%;
overflow:hidden;
left:6%;
bottom:5%;
}
#img1 img{
position:absolute;
height:100%;
width:auto;
left:-60%;
}
#img2{
position:absolute;
width:41%;
height:42%;
overflow:hidden;
right:6%;
top:5%;
}
#img2 img{
position:absolute;
width:auto;
height:100%;
left:-35%;
}
#img3{
position:absolute;
width:41%;
height:42%;
overflow:hidden;
right:6%;
bottom:5%;
}
#img3 img{
position:absolute;
width:auto%;
height:100%;
left:-15%;
}
