body{
padding:0px;
margin:0px;
}
body div{
position:relative;
margin:auto;
width:60vh;
height:100vh;
overflow:hidden;
}
body div img{
position:absolute;  
width:100%;
height:auto;
bottom:0px;
}
#ship{
position:absolute;
width:5vh;
height:auto;
bottom:20%;
left:45%;
z-index:1;
}
.stone{
position:absolute;
width:18%;
height:auto;
z-index:1;
}
.goods{
position:absolute;
width:16%;
height:auto;
z-index:1;
}
.shadow{
position:absolute;
width:10vh;
height:auto;
z-index:0;
}
#stone_1{
bottom:80%;
left:55%;
}
#stone_2{
width:16%;
bottom:110%;
left:15%;
}
#stone_3{
bottom:130%;
left:45%;
}
#stone_4{
width:24%;
bottom:200%;
left:65%;
}
#stone_5{
bottom:230%;
left:5%;
}
#stone_6{
bottom:240%;
left:35%;
}
#stone_7{
width:24%;
bottom:270%;
left:65%;
}
#stone_8{
width:14%;
bottom:320%;
left:10%;
}
#stone_9{
bottom:320%;
left:35%;
}
#stone_10{
bottom:340%;
left:75%;
}
#stone_11{
width:40%;
bottom:360%;
left:35%;
}
#tea{
bottom:80%;
left:15%;
opacity:0.0;
}
#cane{
width:12%;
bottom:140%;
left:75%;
}
#ceramics{
width:14%;
bottom:180%;
left:15%;
}
#fabric{
bottom:250%;
left:75%;
}
#gold{
bottom:270%;
left:15%;
}
#meat{
bottom:300%;
left:75%;
}
#powder{
width:10%;
bottom:340%;
left:25%;
}
#spices{
width:14%;
bottom:365%;
left:15%;
}
#shadow_tea{
bottom:75%;
left:15%;
opacity:0.0;
}
#shadow_cane{
bottom:135%;
left:75%;
}
#shadow_ceramics{
bottom:175%;
left:13.5%;
}
#shadow_fabric{
bottom:245%;
left:75%;
}
#shadow_gold{
bottom:265%;
left:15%;
}
#shadow_meat{
bottom:295%;
left:75%;
}
#shadow_powder{
bottom:335%;
left:21.5%;
}
#shadow_spices{
bottom:360%;
left:13.5%;
}
#land{
position:absolute;
bottom:511%;
}
#get{
position:absolute;
margin:0px;
width:40%;
height:10%;
opacity:0.0;
font-size:3.3vh;
color:white;
z-index:2;
}
#window{
position:absolute;
width:70%;
height:77%;
margin:15%;
z-index:1;
}
#startwindow{
position:absolute;
width:100%;
height:auto;
margin:auto;
}
#window>div{ 
position:absolute;
width:80%;
height:60%;
left:10%;
top:15%;
font-size:4vh;
}
#window>div>b{ 
font-size:3.2vh;
}
#window_2{
position:absolute;
width:55%;
height:40%;
bottom:30%;
left:16%;
padding:3%;
border-style:solid;
border-width:2vh;
border-color:rgb(67,175,178);
border-radius:3vh;
background-color:rgb(254,250,238);
font-size:4vh;
z-index:2;
opacity:0.0;
}
#go{
position:absolute;
width:35%;
height:auto;
bottom:5%;
right:10%;
z-index:2;
}
#no{
position:absolute;
width:35%;
height:auto;
bottom:5%;
left:10%;
z-index:2;
}
#score_img{
position:absolute;
width:40%;
height:auto;
bottom:90%;
right:5%;
opacity:0.0;
z-index:2;
}
#score{
position:absolute;
right:11%;
bottom:90.5%;
width:25%;
height:6%;
font-size:5vh;
text-align:right;
z-index:2;
opacity:0.0;
}
